<div class="row">

  <%= form_for @contact do |f| %>
  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

     <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :emaail %>
     </div>

     <div class="form-group">
      <%= f.label :comments %>
      <%= f.text_field :comments %>
    </div>
     
  <% end%>
   
</div>  